.App {
  text-align: center;
}

.Board {
  border: 2px solid black;
  margin: 10px;
  padding: 10px;
  width: 600px;
  height: 600px;
  box-sizing: border-box;
  position: relative;
}

.Space {
  border: 1px dashed black;
  width: 100px;
  height: 100px;
}

.Piece {
  border: 1px solid black;
  width: 100px;
  height: 100px;
  min-width: 100px;
  min-height: 100px;
  padding: 10px;
  background-color: white;
  box-sizing: border-box;
  z-index: 10;
}

.PieceResevoir {
  width: 600px;
  box-sizing: border-box;
}

#resevoir {
  width: 100%;
  height: 100%;
  display: flex;
  overflow-x: scroll;
  border: 1px dashed black;
  padding: 10px;
  box-sizing: border-box;
  margin: 10px;
}

#resevoir .Piece {
  margin-right: 10px;
}
